* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.title {
  text-align: center;
  /* color: #fff; */
  color: #162938;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


